<%- include ("partials/header.ejs") %>
<%- include ("partials/navbar.ejs")%>

<section id="Ramontrab" class="text-white tm-font-big tm-parallax">
  
 <div class="text-center tm-hero-text-container">
    <div class="tm-hero-text-container-inner">
        <h2 class="tm-hero-title">Pesquisa sobre Internet</h2>
        <p class="tm-hero-subtitle">
          2ª Semestre - Ramon
          <br>
        </p>
    </div>        
  </div>

  <div class="tm-next tm-intro-next">
    <a href="#quemsomos" class="text-center tm-down-arrow-link">
      <i class="fas fa-2x fa-arrow-down tm-down-arrow"></i>
    </a>
  </div>  
     
</section>

<section id="quemsomos" class="tm-section-pad-top">
  
  <div class="container">

        <div class="row tm-content-box">
            <div class="col-lg-12 col-xl-12">
                <div class="tm-intro-text-container">
                    <h2 class="tm-text-primary mb-4 info-titulo">Informações</h2>
                    <p class="mb-4 tm-intro-text">
                      A tecnologia e o uso da Internet revolucionaram profundamente a forma como interagimos, comunicamos e acessamos informações. A Internet, uma rede global de computadores interconectados, permite a troca instantânea de informações, comunicação em tempo real e acesso a recursos diversos. Ela tem sido fundamental para o avanço de áreas como educação, comércio, entretenimento e pesquisa. </a>.</p>
                </div>
            </div>

        </div>
        
        <div class="row tm-content-box">
            <div class="col-lg-1">
                <i class="far fa-3x fa-chart-bar text-center tm-icon"></i>
            </div>
            <div class="col-lg-5">
                <div class="tm-intro-text-container">
                    <h2 class="tm-text-primary mb-4">Plataformas de mídia</h2>
                    <p class="mb-4 tm-intro-text">
                      Plataformas de mídia são espaços online onde conteúdo é compartilhado e consumido. Elas podem incluir redes sociais, sites de notícias, blogs, vídeos e muito mais. Essas plataformas facilitam a criação, compartilhamento e interação com diferentes tipos de conteúdo, permitindo que os usuários expressem suas opiniões, se conectem com outras pessoas e se informem sobre diversos assuntos.</p>
                </div>
            </div>
            
            <div class="col-lg-1">
                <i class="far fa-3x fa-comment-alt text-center tm-icon"></i>
            </div>
            <div class="col-lg-5">
                <div class="tm-intro-text-container">
                    <h2 class="tm-text-primary mb-4">Serviços de streaming</h2>
                    <p class="mb-4 tm-intro-text">
                      Os serviços de streaming oferecem conteúdo digital, como filmes, séries, músicas e jogos, aos usuários através da transmissão contínua pela internet. Ao contrário do download, onde é necessário armazenar o conteúdo localmente, o streaming permite que os usuários acessem o conteúdo em tempo real, sem a necessidade de ocupar espaço de armazenamento. Exemplos populares incluem Netflix, Spotify, Disney+, Twitch e outros.</p>
                </div>
            </div>

        </div>
        
        <div class="row tm-content-box">
            <div class="col-lg-1">
                <i class="fas fa-3x fa-fingerprint text-center tm-icon"></i>
            </div>
            <div class="col-lg-5">
                <div class="tm-intro-text-container">
                    <h2 class="tm-text-primary mb-4">Comércio eletrônico</h2>
                    <p class="mb-4 tm-intro-text">
                      O comércio eletrônico envolve a compra e venda de produtos e serviços pela internet. <strong>Isso abrange desde lojas online de varejo até plataformas de leilão</strong> e aplicativos de entrega de alimentos. O comércio eletrônico oferece conveniência aos consumidores, permitindo que eles façam compras a qualquer momento e em qualquer lugar, <strong>muitas vezes com uma ampla variedade de opções e preços.</strong></p>
                      
                      
                </div>
            </div>
            
            <div class="col-lg-1">
                <i class="fas fa-3x fa-users text-center tm-icon"></i>
            </div>
            <div class="col-lg-5">
                <div class="tm-intro-text-container">
                  <h2 class="tm-text-primary mb-4">Disseminação de desinformação</h2>
                    <p class="mb-4 tm-intro-text">
                      A disseminação de desinformação refere-se à propagação deliberada de informações falsas, imprecisas ou enganosas. Isso pode acontecer nas redes sociais, sites de notícias falsas e outras plataformas de mídia. A disseminação de desinformação pode ter impactos significativos na sociedade, incluindo a criação de crenças errôneas, a polarização de opiniões e a influência em decisões importantes.
              
                      
                </div>
            </div>

        </div>

    </div>
  
</section>

<section id="testimonials" class="tm-section-pad-top tm-parallax-2">      
  <div class="container tm-testimonials-content">
    <div class="row">
      <div class="col-lg-12 tm-content-box">
        <h2 class="text-white text-center mb-4 info-titulo">Formulário</h2>
        <p class="mx-auto tm-section-desc text-center">
            Clique aqui para ser direcionado ao nosso formulário de dados!
          </p>
        <div class="mx-auto tm-gallery-container tm-gallery-container-2">
          <div class="tm-testimonials-carousel">
            <figure class="tm-testimonial-item">
 
          </div>
        </div>
      </div>
      <div class="text-center m-auto">
        <a href="/formularioRespostas" class="btn btn-primary" >Prosseguir</a>
      </div>
    </div>
  </div>
  
  <div class="tm-bg-overlay"></div>
</section>


<section id="gallery" class="tm-section-pad-top">
  <div class="container tm-container-gallery">
    <div class="row">
      <div class="text-center col-12">
          <h2 class="tm-text-primary info-titulo mb-4">Sobre nós</h2>
          <p class="mx-auto tm-section-desc">
            Nosso site é um espaço dinâmico criado para explorar e compreender os aspectos essenciais da tecnologia em geral, Nossa missão é proporcionar uma experiência educacional envolvente e informativa para os visitantes interessados nesses tópicos em constante evolução.
          </p>
      </div>            
    </div>
    
</section>
<%- include ("partials/footer.ejs") %>