<%- include ("../partials/header.ejs") %>
<%- include ("../partials/bar.ejs")%>
<br>
<div class="container">
<a class="btn btn-warning" href="/formularioPerguntas">Cadastrar uma pergunta</a>
<a class="btn btn-warning" href="/users/cadastro">Cadastrar um usuário</a>
<a class="btn btn-warning" href="#">Vizualizar dados</a>
<a class="btn btn-danger" href="/logout">Logout</a>

</div>

<%- include ("../partials/footer.ejs") %>